.exp {
    position: relative;
    display: flex;
    width: 70vw;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    overflow: hidden;
}

.exp a {
    text-decoration: none;
    color: #2196f3;
}

.exp img {
    height: 10em;
}

