.hobbies {
    height: 70vh;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.hobbies i {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 5rem;
    transition: 0.5s ease-in-out;
}

.hobbies i:hover {
    font-size: 12rem;
    color: #2196f3;
    transition: 0.5s ease-in-out;
}

.hobbies i span {
    display: block;
    margin-top: 0.5rem;
    font-size: 0;
    color:black;
    transition: 0.5s ease-in-out;
}

.hobbies i:hover span {
    font-size: 2rem;
    color: #2196f3;
    transition: 0.5s ease-in-out;
}