section {
    display: none;
    transition: 0.5s;
}

section.active {
    display: flex;
    width: 80vw;
    height: 100vh;
    flex-direction: column;
    padding: 30px;
    background-color: #e3f2fd;
    transition: 0.5s;
}

section h2 {
    font-size:14vh;
    color: rgba(33, 150, 243, 0.2);
}

section .content {
    top: 180px;
    left: 30px;
    line-height: 1.5em;
    width: 70vw;
}

section .content h3 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

section .content p {
    font-weight: 500;
}